{% extends "base.html" %}
{% block content %}

<h3 class="mb-4 text-center">עריכת הכנסה</h3>

<form method="post" class="w-50 mx-auto">

  <div class="mb-3">
    <label class="form-label">סכום</label>
    <input type="number"
           name="amount"
           class="form-control"
           value="{{ income['amount'] }}"
           required>
  </div>

  <div class="mb-3">
    <label class="form-label">תיאור</label>
    <input type="text"
           name="description"
           class="form-control"
           value="{{ income['description'] }}">
  </div>

  <div class="mb-3">
    <label class="form-label">תאריך</label>
    <input type="date"
           name="date"
           class="form-control"
           value="{{ income['date'] }}"
           required>
  </div>

  <div class="mb-3">
    <label class="form-label">קטגוריה</label>
    <select name="type_id" class="form-select">
      {% for t in income_types %}
        <option value="{{ t['id'] }}"
          {% if income['type_id'] == t['id'] %}selected{% endif %}>
          {{ t['name'] }}
        </option>
      {% endfor %}
    </select>
  </div>

  <!-- סוג הכנסה -->
  <div class="mb-3">
    <label class="form-label">סוג הכנסה</label>
    <select name="income_nature" class="form-select">
      <option value="משתנה"
        {% if income['nature'] == 'משתנה' %}selected{% endif %}>
        משתנה
      </option>
      <option value="קבועה"
        {% if income['nature'] == 'קבועה' %}selected{% endif %}>
        קבועה
      </option>
    </select>
  </div>

  <div class="d-flex justify-content-between">
    <a href="/" class="btn btn-secondary">ביטול</a>
    <button class="btn btn-success">שמור שינויים</button>
  </div>

</form>

{% endblock %}



